POSTGRES_USER="synapse"
POSTGRES_DATABASE="synapse"
POSTGRES_PASSWORD=""
PUID=1000
PGID=1000
DATABASE_DIR="./database"
ELEMENT_CONFIG_JSON="./element-config.json"
TZ=etc/UTC
SYNAPSE_SERVER_NAME=example.com
